:root {
  --one: #08030D;
  --two: #15135A;
  --three: #55334A;
  --four: #2E31F6;
  --five: #1C219A;
  --six: #8B92BB;
  --seven: #A52DC5;
  --eight: #fbfbfb;
}
  
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: radial-gradient(circle,#8b92bb, #a52dc5);
}

h1 {
    color: var(--seven);
    width: fit-content;
    border: 4px solid var(--seven);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: var(--eight);
}

h2 {
    color: #631D76;
    font-weight: bolder;
    background-color: var(--eight);
    border: 2px solid var(--seven);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: fit-content;
}

h3 {
    color: var(--two);
    background-color: var(--eight);
    border: 2px solid var(--seven);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: fit-content;
}

h4 {
    font-style: oblique;
    background-color: var(--eight);
    margin: 5px;
    padding: 5px;
    font-weight: lighter;
    color: var(--two);
    border: solid var(--seven);
    border-radius: 10px;
    width: fit-content;
}

section {
    font-size: x-large;
    margin: 20px;
}

#title{
    color: var(--seven);
    font-style: italic;
}

.allpictures {
  border: solid var(--seven);
  border-radius: 10px;
}

#links {
  display: flex;
  flex-flow: column wrap;
  max-width: fit-content;
  background-color: var(--seven);
  color: var(--eight);
  border: 2px solid var(--eight);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
    
 a:link {
  color: var(--seven);
}
a:visited {
  color: var(--six);
}
a:hover {
  color: var(--eight);
}
a:active {
  color: var(--four);
}