:root {
  --one: #10061a;
  --two: #15135A;
  --three: #55334A;
  --four: #2E31F6;
  --five: #1C219A;
  --six: #8B92BB;
  --seven: #A52DC5;
  --eight: #fbfbfb;
  --nine: rgb(87, 237, 6);
}

#experienceHeader {
  color: var(--nine);
  font-size: small;
  margin: 1%;
  padding: 1%;
}

.experienceBox {
  display: flex;
  flex-flow: row wrap;
  border: 1px dotted var(--nine);
  border-radius: 10px;
  background-color: var(--one);
  width: 95%;
}

#engineer {
  display: flex;
  flex-flow: row wrap;
  color: var(--seven);
  background-image: radial-gradient(var(--three),var(--one));
  border-radius: 10px;
  padding: 2%;
  margin: 1%;
}

#engineerDesc {
  color: var(--eight);
  font-weight: lighter;
}

#title {
  color: var(--seven);
}

#company {
  color: var(--six);
  font-size: small;
}

#educationBox {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--one);
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  width: fit-content;
}

#certificationsBox {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--one);
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  width: fit-content;
  color: var(--six);
}

#chc {
  display: flex;
  flex-flow: row wrap;
  padding: 1%;
}
#chc img {
  border-radius: 10px;
  padding: 1%;
}

#chpc {
  display: flex;
  flex-flow: row wrap;

}
#chpc img {
  border-radius: 10px;
  padding: 1%;
}

#bullets {
  text-align: justify;
  text-indent: -5%;
  padding: 2%;
  margin: -2%;
  color: var(--six);
}

ul {
  list-style: none;
}
ul li::before {
  content: "\2022";
  color: var(--nine);
  font-weight: bold;
  padding: 1%;
  margin: 1%;
}
  
#gridContainer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5%;
  border-radius: 10px;
}

h3 {
  color: var(--eight);
}

#schools {
  color: var(--nine);
  display: flex;
  flex-flow: row wrap;
}

#linksBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}