:root {
--one: #08030D;
--two: #15135A;
--three: #55334A;
--four: #2E31F6;
--five: #1C219A;
--six: #8B92BB;
--seven: #A52DC5;
--eight: #fbfbfb;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: radial-gradient(circle,#8b92bb, #a52dc5, #15135a);
}

.allpictures {
    border: solid var(--seven);
    border-radius: 10px;
    }

#wholeBody {
    border: 0.5px dotted var(--six);
    display: flex;
    flex-flow: column, wrap;
}

#sidebar {
display: flex;
flex-flow: column wrap;
border: 1px dotted var(--six);
border-radius: 10px;
}

.header {
display: flex;
flex-flow: column wrap;
background-color: var(--one);
border-radius: 10px;
}

#contactInfo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--one);
    color: var(--six);
    border-radius: 10px;
    font-size: small;
}

#phoneIcon {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#phoneIcon img {
    max-width: 15%;
    max-width: auto;
    margin: 5px;
    border: var(--four);
    border-radius: 20px;
}

#emailIcon {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#emailIcon img {
    max-width: 15%;
    max-width: auto;
    margin: 5px;
    border: var(--four);
    border-radius: 20px;
}

#twoThirds {
    color: var(--eight);
    display: flex;
    flex-flow: column wrap;
    background-color: var(--one);
    padding: 5px;
    margin: 10px;
    margin-top: 0px;
    border-radius: 10px;
}

h1 {
    color: var(--seven);
    width: fit-content;
    border: 2px solid var(--seven);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: var(--eight);
}

h2 {
    color: var(--seven);
    font-weight: bolder;
    background-color: var(--eight);
    border: 2px solid var(--seven);
    border-radius: 10px;
    max-width: fit-content;
    margin: 5px;
    padding: 5px;
}

h3 {
    color: var(--eight);
    font-size: small;
}

#creds {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-size: x-small;
}

.header {
    display: flex;
    flex-flow: column wrap;
    align-content: space-evenly;
    align-items: center;
    padding: 5px;
}
#headshot {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-items: flex-start;
    padding: 5px;
    margin: 5px;
}
#headshot img {
    display: flex;
    justify-items: flex-start;
    max-width: 200px;
    max-height: auto;
    border: solid var(--seven);
    border-radius: 10px;
}

#jobTitles {
    font-size: x-small;  
    font-style: oblique; 
}

#mission {
    display: flex;
    flex-flow: column wrap;
    max-width: fit-content;
    padding: 5px;
    margin: 5px;
}

#skills {
    display: flex;
    flex-flow: column wrap;
    max-width: fit-content;
    margin: 5px;
    padding: 5px;
}

#personalPassions {
    justify-content: left;
}

#leela {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 5px;
}
#leela img {
    border: solid var(--seven);
    border-radius: 10px;
    max-width: 225px;
    max-height: auto;
}
#cats {
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
}
#cats img {
    border: solid var(--seven);
    border-radius: 10px;
    max-width: 250px;
    max-height: auto;
}
#tera img {
    max-width: 250px;
    max-height: auto;
}

#dcl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#dcl img {
    max-width: 200px;
}

#gardening img{
    max-width: 250px;
    max-height: auto;
}

#links {
    display: flex;
    flex-flow: column wrap;
    max-width: fit-content;
    background-color: var(--seven);
    color: var(--eight);
    border: 2px solid var(--eight);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

a:link {
    color: var(--seven);
  }
  a:visited {
    color: var(--six);
  }
  a:hover {
    color: var(--eight);
  }
  a:active {
    color: var(--four);
  }