:root {
  --one: #160823;
  --two: #15135A;
  --three: #702864;
  --four: #2E31F6;
  --five: #1C219A;
  --six: #8B92BB;
  --seven: #A52DC5;
  --eight: #f9f5ff;
  --nine: rgb(87, 237, 6);
}

#pageTitle {
  display: flex;
  flex-flow: row wrap;
  margin: 1%;
  font-size: small;
  text-align: center;
}

#headerLine {
  display: flex;
  flex-flow: row wrap;
  margin: 2%;
  padding: 1%;
  background-color: var(--three);
  width: fit-content;
  border: 2px solid var(--nine);
  border-radius: 10px;
  color: var(--eight);
}

#gridsParent {
  background-image: radial-gradient(var(--two),var(--one));
  padding: 1%;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 10px;
  border: 2px solid var(--one);
  margin: 2%;
}

.projBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}
.project1 { grid-area: 1 / 1 / 2 / 5; }

.project2 { grid-area: 2 / 1 / 3 / 5; }

.project3 { grid-area: 3 / 1 / 4 / 5; }